<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Ex_0328/src/ex1_innerclass/Ex_Anonymous.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ex1_innerclass.Ex_Anonymous"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ex_0328"/>
</launchConfiguration>
